<link rel="stylesheet" href="/css/edit.css">

<form action="" class="lesson-edit" method="POST">
    <div class="edit-title">
        Edit Lesson!
    </div>
    <div class="edit-text-container">
        <div class="container-title">
            Title
        </div>
        <input type="text" name="title" id="titleInput" value="<%= (course && course.title) ? course.title : '' %>">
    </div>
    <div class="edit-text-container">
        <div class="container-title">
            Description
        </div>
        <div class="container-content">
                <input type="text" name="description" id="descriptionInput" value="<%= (course && course.description) ? course.description : '' %>">
        </div>
    </div>
    <div class="edit-list-container">
        <div class="container-title">
            Lessons
        </div>
        <div class="content-list">
            <%
            course.lessons.forEach((lesson,i) => {
            %>
            <div class="content-list-item">
                <input type="hidden" name="lessons[i]"
                <%= JSON.stringify(lesson) %>
            </div>
            <%
                });
            %>
        </div>
        <div class="content-buttons">
            <div class="button">
                Add
            </div>
        </div>
    </div>
    <div class="edit-list-container">
        <div class="container-title">
            Projects
        </div>
        <div class="content-list">
            <%
                for (let project of course.projects){
            %>
            <div class="content-list-item">
                <input type="hidden" name="projects">
                <%= JSON.stringify(project) %>
            </div>
            <%
                }
            %>
        </div>
        <div class="content-buttons">
            <div class="button">
                Add
            </div>
        </div>
    </div>
</form>