<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <div class="login-header-text">
                Login
            </div>
        </div>
        <form class="login-content" name="login" method="POST">
            <div class="login-username">
                <label for="username">Username:</label>
                <input class="login-input" type="text" name="username" hint="Enter a username...">
            </div>
            <div class="login-password">
                <label for="password">Password:</label>
                <input class="login-input" type="password" name="password" hint="Enter a password..." required>
            </div>
            <div class="login-button">
                <input type="submit" value="Login">
            </div>
            <div class="login-link">
                <a href="/register">Not registered?</a>
            </div>
        </div>
    </div>
</div>