<div class="message-container">
    <div class="message">
        <div class="message-title">
            404: Page Not Found
        </div>
        <div class="message-text">
            The address you've tried to go to doesn't exist. Please check the address and try again.
        </div>
    </div>
</div>