<div class="project-container">
    <div class="item wide short">
        <div class="subtitle">
            Title:
        </div>
        <div class="content big-font">
            3D Printed Headphones
        </div>
    </div>

    <div class="item wide">
        <div class="subtitle">
            Description:
        </div>
        <div class="content">
            This is a project for printing headphones using a 3D Printer.
        </div>
    </div>

    <div class="item short">
        <div class="subtitle">
            Authors:
        </div>
        <div class="content list">
            <div>
                Darth Vader
            </div>
            <div>
                Darth Sidious
            </div>
        </div>
    </div>
    
    <div class="item short">
        <div class="subtitle">
            Sponsors:
        </div>
        <div class="content list">
            <div>Galactic Empire</div>
            <div>Stormtroopers Union</div>
            <div>Death Star</div>
        </div>
    </div>
    <div class="item">
        <div class="subtitle">
            Author:
        </div>
        <div class="content">
            Dominik Schreier
        </div>
    </div>

</div>