<div class="footer">
    <div class="two-columns">
        <div class="column left">
            <div class="container">
                <h4>O SQRT4 z.s. </h4>
                <p>
                SQRT4 Education zajišťuje člověku ve 21. století podmínky, za kterých se naučí jednoduše řešit komplexní problémy. 4. průmyslová revoluce představuje technologie, které ovlivňují jak trh práce, tak naše životy. Záleží na nás, tady a teď, jak tyto nové možnosti využíváme. Tvoříme budoucnost
    
    
                </p>
            </div>
        </div>
        <div class="column right">
            <div class="container">
                <h4>Mrkni se!</h4>
                <div class="footer-social-media">
                    <a class="fa sqrt-logo" href="http://www.sqrt4.eu"><img src="/img/icons/sqrt-space-logo.png"></a>
                    <a class="fa fa-facebook fa-2x" href="https://www.facebook.com/sqrt4/"></a>
                    <a class="fa fa-instagram fa-2x" href="https://www.instagram.com/tvorime_budoucnost/"></a>
                    <a class="fa fa-youtube fa-2x" href="https://www.youtube.com/channel/UCAb6WNRWN95uHIB0I9yJArQ"></a>
                </div>
            </div>
        </div>
    </div>
</div>