

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="navbar">
    <div class="nav-item">
        <a href="/">Home</a>
    </div>
    <div class="nav-item">
        <a href="/courses">Courses</a>
    </div>
    <div class="nav-item">
        <a href="/project">Projects</a>
    </div>
    <div class="nav-item">
        <a href="http://sqrt4.eu/vyuka/">Back to SQRT4</a>
    </div>
</div>