

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<div class="navbar">
    <div class="nav-item">
        <a href="http://sqrt4.eu/vyuka/">Back to SQRT4</a>
    </div>
    <div class="nav-item">
        <a href="/project">Projects</a>
    </div>
    <div class="nav-item">
        <a href="/courses">Courses</a>
    </div>
</div>