

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/navbar.css">
<div class="navbar">
    <div class="nav-item">
        <a href="http://sqrt4.eu/vyuka/">Back to SQRT4</a>
    </div>
    <div class="nav-item">
        <a href="/projects">Projects</a>
    </div>
    <div class="nav-item">
        <a href="/courses">Courses</a>
    </div>
</div>