<%
    /*
    const breadcrumbs = [{
        "name": "Home",
        "url": "/"
    },
    {
        "name": "3D Tisk",
        "type": "Course",
        "url": "/courses/abcde/"
    },
    {
        "name": "Vytiskni 3D Bryle",
        "type": "Project",
        "url": "/projects/fghij/"
    }];
     */
%>

<link rel="stylesheet" href="/css/subnav.css">

<!-- <div class="subnav">

    <%
        if (locals.previous){
    %>
        <a href="<%=previous.url%>" class="previous">
            Back to <%=previous.name%>
        </a>
    <%
        }
    %>

    <%
        if (locals.user){
    %>
        <a href="/user" class="user">
            <%= user.name %>
        </a>
    <%
        }
    %>
    

</div> -->