<link rel="stylesheet" href="/css/courses.grid.css">
<div class="page-content">
    <div class="pagination">
        <div class="pagination-arrow left"></div>
        <div class="grid-container"></div>
        <div class="pagination-arrow right"></div>
        <div class="page-numbers">
            <div class="page-numbers-left">
                Left
            </div>
            <%
                for (let i = 0; i < 10; i++){
            %>
            <div class="page-number"><%= i+1 %></div>
            <%
                };
            %>
            <div class="page-numbers-right">
                Right
            </div>
        </div>
    </div>
</div>
<script src="/js/paginator.js"></script>
<!-- <script src="/js/modal.js"></script> -->