<link rel="stylesheet" href="/css/course.specific.css">

<div class="page-content">
    <div class="course-details">
        <div class="title">Title</div>
        <div class="picture">Picture</div>
        <div class="description">Description</div>
        <div class="module">
            Module
        </div>
        <div class="module">
            Module
        </div>
        <div class="module">
            Module
        </div>
        <div class="module">
            Module
        </div>
        <div class="module">
            Module
        </div>
        <div class="module">
            Module
        </div>
        <div class="module">
            Module
        </div>
        <div class="module">
            Module
        </div>
        
    </div>
</div>