<link rel="stylesheet" href="/css/course.specific.css">

<div class="page-content">
    <div class="course-details">
        <div class="title">Title</div>
        <div class="picture">Picture</div>
        <div class="description">Description</div>
        
        <%
            for (let i = 0; i < 7; i++) {
        %>

        <div class="module">
            <div class="module-title">Title</div>
            <div class="module-picture">Picture</div>
            <div class="module-text">Text</div>
            <div class="module-gallery">Gallery</div>
        </div>

        <%
            };
        %>
        
    </div>
</div>