<html>
    <body>

        <% include header %>

        <div class="page-content">
            <div class="centered-heading">
                <h1>Courses</h1>
            </div>

            <div class="container">
                <div class="filter-bar">
                    <div class="item">
                        <h1>Filter:</h1>
                    </div>
                    <div class="item">
                        <div class="tag-list">
                            <div class="item">
                                One
                            </div>
                            <div class="item">
                                Two
                            </div>
                            <div class="item">
                                Three
                            </div>
                            <div class="item">
                                Four
                            </div>
                            <div class="item">
                                Five
                            </div>
                            <div class="item">
                                Six
                            </div>
                            <div class="item">
                                Seven
                            </div>
                        </div>
                        
                    </div>
                    <div class="item">
                        <div class="tag-input">
                            <input type="text" name="tag" id="tagInput">
                        </div>
                        
                        <!-- <h1>Add</h1> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="grid-container">
                    <% for (let elem of data.courses){ %>
                    <div class="item card">
                        <h4>
                            <%= elem.title %>
                        </h4>
                        <div class="card-content">
                            <h4>Components:</h4>
                            <ul>
                                <% for (let component of elem.components){ %>
                                    <li><%= component.title %></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                    <div class="item card">
                        <h4>Uvod do 3D tisku</h4>
                        <div class="card-content">
                            <h4>Stuff:</h4>
                            <ul>
                                <li>First thing</li>
                                <li>Second thing</li>
                                <li>etc...</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item card">
                        <h1>Model a Material</h1>
                    </div>
                    <div class="item card">
                        <h1>Slic3r</h1>
                    </div>
                    <div class="item card">
                        <h1>3D Tisk</h1>
                    </div>
                    <div class="item card">
                        <h1>Troubleshooting</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="detailed-view">
                        <div class="detailed-title">
                            <h4>Detailed Title</h4>
                        </div>
                        <div class="detailed-content">
                            <div class="detailed-list">
                                <%
                                    //let n = Math.floor(Math.random()*10)
                                    let n = 2;
                                    for(let i = 0; i < n; i++) {
                                %>
                                <div class="detailed-list-item">
                                    <div class="list-item-icon-container">
                                        <div class="content">
                                            ICON
                                        </div>
                                    </div>
                                    <div class="list-item-content-container">
                                        <div class="title">
                                            TITLE
                                        </div>
                                        <div class="info-list">
                                            <%
                                                //let m = Math.floor(Math.random()*6) + 1;
                                                let m = 2;
                                                for(let j = 0; j < m; j++) {
                                            %>
                                            <div class="info-list-item">
                                                <a>Item <%= j %></a>
                                            </div>
                                            <%
                                                }
                                            %>
                                            
                                        </div>
                                    </div>
                                    <div class="list-item-time-container">
                                        <div class="content">
                                            20 Mins
                                        </div>
                                    </div>
                                </div>
                                <% }; %>
                            </div>
                        </div>
                        <div class="detailed-subcontent">
                            <div class="play-button-container">
                                <a>SPUSTIT!</a>
                            </div>
                        </div>        
                    </div>
                    
                </div>
            </div>
        </div>

        <% include footer %>

    </body>
</html>