<% include header %>

<div class="page-content">
    <div class="centered-heading">
        <h1>Courses</h1>
    </div>

    <div class="container">
        <div class="filter-bar">
            <div class="item">
                <h1>Filter:</h1>
            </div>
            <div class="item">
                <div class="tag-list">
                    <div class="item">
                        One
                    </div>
                    <div class="item">
                        Two
                    </div>
                    <div class="item">
                        Three
                    </div>
                    <div class="item">
                        Four
                    </div>
                    <div class="item">
                        Five
                    </div>
                    <div class="item">
                        Six
                    </div>
                    <div class="item">
                        Seven
                    </div>
                </div>
                
            </div>
            <div class="item">
                <h1>Add</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid-container">
            <div class="item card">
                <h1>Uvod do 3D tisku</h1>
                <div class="card-content">
                    <h4>Stuff:</h4>
                    <ul>
                        <li>First thing</li>
                        <li>Second thing</li>
                        <li>etc...</li>
                    </ul>
                </div>
            </div>
            <div class="item card">
                <h1>Model a Material</h1>
            </div>
            <div class="item card">
                <h1>Slic3r</h1>
            </div>
            <div class="item card">
                <h1>3D Tisk</h1>
            </div>
            <div class="item card">
                <h1>Troubleshooting</h1>
            </div>
        </div>
    </div>
    <div class="container full-content">
        <div class="card">
            <h1>Uvod do 3d Tisk</h1>
            <h4>Stuff:</h4>
            <ul>
                <li>First thing</li>
                <li>Second thing</li>
                <li>etc...</li>
            </ul>
        </div>
    </div>
</div>

<% include footer %>