<html>
    <body>
        <% include partials/header %>
        <div class="page-content">
            <%- include("./partials/subnav.ejs",breadcrumbs) %>
            <%- include("./courses/main.ejs",courses) %>
        </div>
        <% include partials/footer %>
        <% include partials/background %>
        <% include partials/modal %>
    </body>
</html>