<html>
<% include partials/head %>
    <body>
        <% include partials/header %>
        <div class="page-content">
            <%- include("./partials/subnav.ejs",breadcrumbs) %>
            <%- include("./courses/main.ejs",courses) %>
        </div>
        <% include partials/footer %>
        <% include partials/modal %>
        <% include partials/background %>
    </body>
    
</html>