<html>
    <body>
        <link rel="stylesheet" href="/css/course.css">
        <% include partials/header %>
        <div class="page-content">
            <%- include("./partials/subnav.ejs",breadcrumbs) %>
            <%- include("./course/alt.ejs",course) %>
        </div>
        <% include partials/footer %>
    </body>
    <% include partials/modal %>
</html>