<html>
    <body>

        <% include header %>

        <div class="page-content">
            <div class="centered-heading">
                <h1>Courses</h1>
            </div>

            <div class="container">
                <div class="filter-bar">
                    <div class="filter-title">
                        Filter:
                    </div>
                    <div class="filter-filters">
                        <div class="tag-list">
                            <% for (let i = 0; i < 7; i++){ %>
                                    <div class="tag">
                                        <div class="content">
                                            Tag <%= i %>
                                        </div>
                                    </div>
                            <% } %>
                        </div>
                        
                    </div>
                    <div class="filter-input">
                        <div class="tag-input">
                            <input type="text" name="tag" id="tagInput">
                        </div>
                        
                        <!-- <h1>Add</h1> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="grid-container">
                    <% for (let elem of data.courses){ %>
                    <div class="item card">
                        <h4>
                            <%= elem.title %>
                        </h4>
                        <div class="card-content">
                            <h4>Components:</h4>
                            <ul>
                                <% for (let module of elem.modules){ %>
                                    <li><%= module.title %></li>
                                <% } %>
                            </ul>
                        </div>
                        <div class="card-bottom">
                            
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="detailed-view">
                        <div class="detailed-title">
                            <div class="detailed-title-text">Detailed Title</div>
                        </div>
                        <div class="detailed-content">
                            <div class="detailed-list">
                                <%
                                    //let n = Math.floor(Math.random()*10)
                                    let n = 2;
                                    for(let i = 0; i < n; i++) {
                                %>
                                <div class="detailed-list-item">
                                    <div class="list-item-icon-container">
                                        <div class="content">
                                            ICON
                                        </div>
                                    </div>
                                    <div class="list-item-content-container">
                                        <div class="title">
                                            TITLE
                                        </div>
                                        <div class="info-list">
                                            <%
                                                //let m = Math.floor(Math.random()*6) + 1;
                                                let m = 2;
                                                for(let j = 0; j < m; j++) {
                                            %>
                                            <div class="info-list-item">
                                                <a>Item <%= j %></a>
                                            </div>
                                            <%
                                                }
                                            %>
                                            
                                        </div>
                                    </div>
                                    <div class="list-item-time-container">
                                        <div class="content">
                                            20 Mins
                                        </div>
                                    </div>
                                </div>
                                <% }; %>
                            </div>
                        </div>
                        <div class="detailed-subcontent">
                            <div class="play-button-container">
                                <a>SPUSTIT!</a>
                            </div>
                        </div>        
                    </div>
                    
                </div>
            </div>
        </div>

        <button class="modal-trigger">
            Launch Modal
        </button>

        <div class="modal">
            <div class="modal-content">
                <span class="modal-close">&times;</span>
                <h1>THIS IS A MODAL!</h1>
            </div>
        </div>

        <script src="/js/modal.js"></script>

        <% include footer %>

    </body>
</html>