<html>
    <body>

        <% include header %>

        <div class="page-content">
            <div class="centered-heading">
                <h1>Courses</h1>
            </div>

            <div class="container">
                <div class="filter-bar">
                    <div class="item">
                        <h1>Filter:</h1>
                    </div>
                    <div class="item">
                        <div class="tag-list">
                            <div class="item">
                                One
                            </div>
                            <div class="item">
                                Two
                            </div>
                            <div class="item">
                                Three
                            </div>
                            <div class="item">
                                Four
                            </div>
                            <div class="item">
                                Five
                            </div>
                            <div class="item">
                                Six
                            </div>
                            <div class="item">
                                Seven
                            </div>
                        </div>
                        
                    </div>
                    <div class="item">
                        <div class="tag-input">
                            <input type="text" name="tag" id="tagInput">
                        </div>
                        
                        <!-- <h1>Add</h1> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="grid-container">
                    <div class="item card">
                        <h1>Uvod do 3D tisku</h1>
                        <div class="card-content">
                            <h4>Stuff:</h4>
                            <ul>
                                <li>First thing</li>
                                <li>Second thing</li>
                                <li>etc...</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item card">
                        <h1>Model a Material</h1>
                    </div>
                    <div class="item card">
                        <h1>Slic3r</h1>
                    </div>
                    <div class="item card">
                        <h1>3D Tisk</h1>
                    </div>
                    <div class="item card">
                        <h1>Troubleshooting</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="detailed-view container">
                        <div class="detailed-title">
                            <h4>Detailed Title</h4>
                        </div>
                        <div class="detailed-content">
                            <div class="detailed-list">
                                <div class="detailed-list-item">
                                    <div class="icon">
                                        ICON
                                    </div>
                                    <div class="content">
                                        <div class="title">
                                            TITLE
                                        </div>
                                        <div class="info-list">
                                            <div class="info-list-item">
                                                ITEM 1
                                            </div>
                                            <div class="info-list-item">
                                                ITEM 2
                                            </div>
                                        </div>
                                    </div>
                                    <div class="time">
                                        TIME
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                    
                </div>
            </div>
        </div>

        <% include footer %>

    </body>
</html>