<html>
    <body>
        <% include partials/header %>
        <div class="page-content">
            <%- include("./courses/main.ejs",{}) %>
        </div>
        <% include partials/footer %>
        <% include partials/modal %>
    </body>
</html>