<html>
<title><%= course.title %></title>
    <body>
        <link rel="stylesheet" href="/css/course.css">
        <% include partials/header %>
        <div class="page-content">
            <%- include("./partials/subnav.ejs",breadcrumbs) %>
            <%- include("./course/alt.ejs",course) %>
        </div>
        <% include partials/footer %>
        <% include partials/background %>
        <% include partials/modal %>
    </body>
    
</html>