<% include header %>

<div class="page-content">
    <br>
    <br>
    <div class="centered-heading">
        Courses
    </div>

    <br>
    <br>

    <div class="container">
        <div class="filter-bar">
            <div class="item">
                <h1>Filter:</h1>
            </div>
            <div class="item tag-list">
                <div class="item">
                    One
                </div>
                <div class="item">
                    Two
                </div>
                <div class="item">
                    Three
                </div>
                <div class="item">
                    Four
                </div>
                <div class="item">
                    Five
                </div>
                <div class="item">
                    Six
                </div>
                <div class="item">
                    Seven
                </div>
            </div>
            <div class="item">
                <h1>Add</h1>
            </div>
        </div>
    </div>

    <div class="filter-container">
        <div class="filter-results">
            <div class="item card">
                Placeholder
            </div>
            <div class="item card">
                Placeholder
            </div>
            <div class="item card">
                Placeholder
            </div>
            <div class="item card">
                Placeholder
            </div>
            <div class="item card">
                Placeholder
            </div>
            <div class="item card">
                Placeholder
            </div>
            <div class="item card">
                Placeholder
            </div>
        </div>
    </div>
</div>

<% include footer %>