<html>
    <body>
    <link rel="stylesheet" href="/css/lesson.css">
        <% include partials/header %>
            <div class="page-content">
                <%
                    if (locals.course){
                %>
                    <%- include("./admin/edit.course.ejs",(course) ? course : {}) %>
                <%
                    }
                %>
                <%
                    if (locals.lesson){
                %>
                    <%- include("./admin/edit.lesson.ejs",(lesson) ? lesson : {}) %>
                <%
                    }
                %>
                <%
                    if (locals.project){
                %>
                    <%- include("./admin/edit.project.ejs",(project) ? project : {}) %>
                <%
                    }
                %>
                <%
                    if (!locals.project && !locals.lesson && !locals.course){
                %>
                    <%- include("./admin/edit.browse.ejs") %>
                <%
                    }
                %>
                
            </div>
        <% include partials/footer %>
        <% include partials/background %>
        <% include partials/modal %>    
    </body>
    
</html>