<div class="footer">
    <div class="two-columns">
        <div class="column left">
            <div class="container">
                <h4>About SQRT4 a.s. </h4>
                <p>
                SQRT4 Education zajišťuje člověku ve 21. století podmínky, za kterých se naučí jednoduše řešit komplexní problémy. 4. průmyslová revoluce představuje technologie, které ovlivňují jak trh práce, tak naše životy. Záleží na nás, tady a teď, jak tyto nové možnosti využíváme. Tvoříme budoucnost
    
    
                </p>
            </div>
        </div>
        <div class="column right">
            <div class="container">
                <h4>Other Information</h4>
                <p>
                    
                </p>
                <h4>Social Media:</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </div>
</div>