<div class="footer">
    <div class="two-columns">
        <div class="column left">
            <div class="container">
                <h4>About SQRT4 a.s. </h4>
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere lectus non scelerisque elementum. Quisque a libero ultrices, vehicula turpis eget, molestie lacus. Aenean et nulla nulla. Praesent hendrerit dolor a sem dignissim, quis tincidunt urna semper. Praesent dignissim enim ut enim aliquam, id iaculis ligula tempus. Suspendisse consequat ultricies risus. Pellentesque venenatis neque nec ullamcorper interdum. Vestibulum leo neque, aliquet nec leo at, maximus tempus quam. Integer faucibus libero ac consequat hendrerit. Donec egestas ultrices dui, accumsan bibendum tortor eleifend quis. Nulla varius lorem sed nisl cursus fermentum. Sed non convallis est. Ut sed massa vitae quam luctus finibus non ac nisl. Suspendisse varius, sem vel molestie rutrum, elit lectus dapibus mauris, sed convallis nunc enim ac nunc. In at lorem ac augue tempus hendrerit.
    
    
                </p>
            </div>
        </div>
        <div class="column right">
            <div class="container">
                <h4>Other Information</h4>
                <p>
                    
                </p>
                <h4>Social Media:</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </div>
</div>