
<body>
    <link rel="stylesheet" href="/css/styles.css">
    <div class="navbar">
        <div href="/courses" class="nav-item">
            Courses
        </div>
        <div href="/projects" class="nav-item">
            Projects
        </div>
        <div href="/login" class="nav-item right">
            Sign-In/Register
        </div>
    </div>
</body>