<html>
    <body>
        <% include partials/header %>
        <div class="page-content">
            <div class="home-splash">
                <div class="home-splash-logo">
                    SQRT4
                </div>
                <div class="home-splash-motto">
                    Tvorime Budoucnost
                </div>
                <div class="home-splash-button">
                    Browse Courses...
                </div>
            </div>
        </div>
        <% include partials/footer %>
    </body>
</html>
