<html>
<% include partials/head %>
    <body>

        <link rel="stylesheet" href="/css/home.css">
        <% include partials/youtube %>
        <div class="page-content">
            
            <div class="home-splash">
                <div class="home-splash-logo">
                    SQRT4
                </div>
                <div class="home-splash-motto">
                    Tvoříme<br>Budoucnost
                </div>
                <div class="home-splash-button-container">
                    <a href="/courses" class="home-splash-button">
                        Kurzy
                    </a>
                    <a href="/project" class="home-splash-button">
                        Projekty
                    </a>
                    <a href="/test/login" class="home-splash-button">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/youtube.js"></script>
</html>
