<html>
    <body>
        <% include partials/header %>

        <link rel="stylesheet" href="/css/home.css">
        <div class="page-content">
            <%- include("./partials/subnav",breadcrumbs) %>
            <div class="home-splash">
                <div class="home-splash-logo">
                    SQRT4
                </div>
                <div class="home-splash-motto">
                    Tvorime<br>Budoucnost
                </div>
                <div class="home-splash-button-container">
                    <a href="/courses" class="home-splash-button">
                        View Courses
                    </a>
                </div>
            </div>
        </div>
        <% include partials/footer %>
    </body>
</html>
