<% include header.ejs %>

<body>
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <br>
                <h1 class="header center teal-text text-lighten-2">SQRT 4</h1>
                <div class="row center">
                    <h5 class="header col s12 light">
                        Budujeme budoucnost... (anglicky)
                    </h5>
                </div>
                <div class="row center">
                    <div class="col s12 m4 l4">
                        <a href="#" class="btn-large waves-effect waves-light teal lighten-1">Search</a>
                    </div>
                    <div class="col s12 m4 l4">
                        <a href="#" class="btn-large waves-effect waves-light teal lighten-1">Browse</a>
                    </div>
                    <div class="col s12 m4 l4">
                        <a href="#" class="btn-large waves-effect waves-light teal lighten-1">Edit</a>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="parallax" src="#" alt="Unsplashed background img 1"></div>
    </div>
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center">

            </h1>
            <div class="row center">
                <h5 class="header col s12 light">SQRT4 s.r.o.</h5>
            </div>
            <div class="row center">
                <a href="#">Building the future...</a>
            </div>
        </div>
    </div>
</body>
