<html>
    <body>
    <link rel="stylesheet" href="/css/lesson.css">
        <% include partials/header %>
            <div class="page-content">
                <%- include("./partials/subnav.ejs",breadcrumbs); %>
                <%- include("./lesson/main.ejs",lesson) %>
            </div>
        <% include partials/footer %>
    </body>
    <% include partials/modal %>
</html>