<html>
<% include partials/head %>
    <body>
    <link rel="stylesheet" href="/css/old-lesson.css">
        <% include partials/header %>
            <div class="page-content">
                <%- include("./lesson/alt.ejs",lesson) %>
            </div>
        <% include partials/footer %>
        <% include partials/background %>
        <% include partials/modal %>    
    </body>

    <script src="/js/modal.js"></script>
</html>