<html>
    <link rel="stylesheet" href="/css/login.css">
    <body>
        <% include partials/header %>

        <div class="page-content">

            <%- include("admin/login.prompt.ejs") %>

        </div>
        <% include partials/background %>
        <% include partials/footer %>
    </body>
</html>