<% include partials/head %>
<body>
    <% include header %>

    <div class="page-content">
            <!-- Here is where page content will go -->
            <br>
            <br>
            <div class="centered-heading">
                Welcome to the Prusa Educator!
            </div>
            <br>
            <div class="centered-media-content">
                <div class="youtube-video"></div>
            </div>
            <div class="centered-content">
                <div class="centered-heading">
                    <h4>
                        Some information as to how to user the Prusa Educator
                    </h4>
                </div>
                <div class="two-columns">
                    <div class="column left card">
                        <p>
                            Finished Courses
                        </p>
                        <p>
                            Courses available for teaching in schools
                        </p>
                        <p>
                            Important Chapter
                        </p>
                        <p>
                            Advanced Chapter
                        </p>
                    </div>
                    <div class="column right card">
                        <p>
                            Close window/course
                        </p>
                        <p>
                            Fullscreen
                        </p>
                        <p>
                            Next
                        </p>
                        <p>
                            Back
                        </p>
                        <p>
                            Comments
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <% include footer %>

</body>