<%
    var project2 = {
        title:"Project",
        description:"Something something dark side",
        time:6,
        difficulty:"Hard",
        intentions:"To learn...",
        author:"Dominik Schreier",
        partner:"Prusa",
        resources:[
            "link1",
            "link2"
        ],
        steps:[
            "Do the first thing.",
            "Do the second thing.",
            "Do the last thing"
        ]
    };
%>

<html>
<% include partials/head %>
    <body>
        <link rel="stylesheet" href="/css/project.css">
        <% include partials/header %>

        <div class="page-content">

        <%
            let user = {
                name: "Dominik Scheier"
            }

            let previous = {
                name: "Home",
                url: "/"
            }

        %>

            <%- include("partials/subnav",{user,previous}) %>

            <%- include("project/new-project.ejs",project) %>

        </div>

        <% include partials/footer %>
        <% include partials/background %>
        <% include partials/modal %>
    </body>
</html>