<html>
    <body>
        <link rel="stylesheet" href="/css/project.css">
        <% include partials/header %>

        <div class="page-content">

            <%- include("partials/subnav",breadcrumbs) %>

            <%- include("project/main.ejs",project) %>

        </div>

        <% include partials/footer %>
        <% include partials/modal %>
    </body>
</html>