<html>
    <body>
    <% include header %>
        <link rel="stylesheet" href="/css/quiz.css">
        <div class="page-content">
            
            
            <%- include("./quiz/main.ejs") %>

            
        </div>
    <% include footer %>
    </body>
</html>
