<html>
    <body>
    <% include partials/header %>
        <link rel="stylesheet" href="/css/quiz.css">
        <div class="page-content">

            
            <%- include("./quiz/main.ejs") %>

            
        </div>
    <% include partials/footer %>
    </body>
    <script src="/js/quiz.js"></script>
</html>
