<html>
    <body>
    <% include partials/header %>
        <div class="page-content">
            
            
            <%- include("./courses/specific-course.ejs") %>

            
        </div>
    <% include partials/footer %>
    </body>
</html>
