<html>
    <body>
        <% include header %>
        <div class="page-content">
            <%- include("./courses/filter.ejs") %>
            
            <%- include("./courses/grid-view.ejs") %>

            <% include footer %>
        </div>
    </body>
</html>
