body {
    background-color: rgba(0, 0, 0, 0);
}

.background { 
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -3;
    min-height:100vh;
    min-width:100vw;
}

.background-fader {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    min-height:100vh;
    min-width:100vw;
}