/*

    Separate CSS for grid stuff

*/

/* ########################### */
/* Browser Grid (EXPERIMENTAL) */
/* ########################### */

.grid-container {
    grid-area: content;
    display: grid;
    padding: 0 1vh;
    grid-template-columns: repeat(16,1fr);
    grid-template-columns: repeat(16,1fr);
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
}
/* 
@media screen and (min-width: 1201px){
    .grid-container {
        grid-template-columns: repeat(24,1fr);
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .grid-container {
        grid-template-columns: repeat(20,1fr);
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px){
    .grid-container {
        grid-template-columns: repeat(16,1fr);
    }
}

@media screen and (min-width: 601px) and (max-width: 800px){
    .grid-container {
        grid-template-columns: repeat(12,1fr);
    }
}

@media screen and (min-width: 0) and (max-width: 600px){
    .grid-container {
        grid-template-columns: repeat(8,1fr);
    }
} */

/* When a child in .grid-container is selected, color it in organze */

.grid-container > .selected {
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}

.grid-container > .item {
    grid-column-start: span 4;
    grid-row-start: span 4;
    display: grid;
    grid-auto-rows: 100%;
    grid-auto-columns: 100%;
    /* transition: background-color 3s; */
    /* transition: grid-column-start 1s, grid-row-start 1s; */
}

/* ######################### */
/* New and improved styling! */
/* ######################### */

.card-content {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    /* grid-template-areas:
        "title title title title"
        "title title title title"
        ". description description ."
        ". description description ."
        ". description description ."
        ". description description ."
        ". . . time"; */
}

.card-content > .title {
    /* grid-area: title; */
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 0;
    grid-row-end:2;
    font-size:1.2vw;
}

.card-content > .description {
    /* grid-area: description; */
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start:2;
    grid-row-end:-1;
    font-style: italic;
    font-size:0.8vw;
}

.card-content > .time {
    /* grid-area: time; */
    grid-column-start:-3;
    grid-column-end:-1;
    grid-row-start: -1;
    grid-row-end: auto;
    font-size:1vw;
}


.grid-container > .item:hover {
    /* grid-column-start: span 6; */
    /* grid-row-start: span 8; */
    background-color: lightyellow;
    /* background-color: red; */
}


/* 

    Pagination Stuff

*/

.pagination {
    min-height: 50vh;
    display: grid;
    margin: 20px 0;
    grid-template-areas:
        "left content content content content right"
        "left content content content content right"
        "left content content content content right"
        "left content content content content right"
        "left content content content content right"
        "left content content content content right"
        "left content content content content right"
        "left content content content content right"
        "pagenum pagenum pagenum pagenum pagenum pagenum";
    /* grid-template-columns: 20% 80% 20%; */
}

.pagination-arrow {
    background-color:lightgreen;
    min-width: 10vh;
}

.pagination-arrow .null {
    background-color:grey;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.page-numbers {
    grid-area: pagenum;
    background-color:teal;
    min-height:10vh;
    display: grid; 
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 1vh;
}

.page-number {
    background-color: pink;
    grid-column-start: span 1;
    grid-row-start: span 1;
}

.page-number .selected {
    background-color: orange;
}

.page-number:nth-child(odd) {
    background-color: aqua;
}

/*  */