.course-details {
    display:grid;
    min-height:100vh;
    width:100%;
    background-color:grey;
    grid-template-areas:
        "title title title title"
        "picture description description description"
        "picture description description description"
        "picture description description description"
        "module module module module"
        "module module module module"
        "module module module module"
        "module module module module"
        "module module module module";
}

.course-details {
    display:grid;
    min-height:100vh;
    width:100%;
    background-color:grey;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 100px;
}

.title {
    grid-area: title;
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: span 1;
    font-size: 4em;
    width: auto;
    height: auto;
    margin: auto;
}

.picture {
    grid-area: picture;
    background-color: lightyellow;
    grid-column-start:1;
    grid-column-end:2;
    grid-row: span 4;
}

.picture > img {
    width:40vw;
    height:auto;
}

.description {
    grid-area: description;
    background-color: lightgreen;
    grid-column-start:2;
    grid-column-end:-1;
    grid-row: span 4;
    width: 80%;
    margin: 20px auto;
}

.module {
    grid-area: module;
    background-color: lightpink;
    grid-column: span 4;
    grid-row: span 6;
    display: grid;
    grid-template-areas:
        "mtitle mtitle mtitle mtitle mtitle"
        "mpicture mpicture mpicture mgallery mgallery"
        "mpicture mpicture mpicture mtext mtext"
        "mpicture mpicture mpicture mtext mtext"
        "mpicture mpicture mpicture mtext mtext"
        "mpicture mpicture mpicture mtext mtext"
        "mpicture mpicture mpicture mtext mtext";
}

.module:nth-child(even) {
    background-color: aqua;
}

.module-title {
    grid-area: mtitle;
    background-color: beige;
    font-size: 2em;
    width: auto;
    height: auto;
    margin: auto;
}

.module-picture {
    grid-area: mpicture;
    background-color: darkcyan;
}

.module-picture > img {
    width: 40vw;
    height: auto;
}

.module-text {
    grid-area: mtext;
    background-color: red;
}

.module-gallery {
    grid-area: mgallery;
    background-color: lightgreen;
    height: 90%;
    display: grid;
    grid-template-columns: 5% repeat(4,1fr) 5%;
    grid-gap: 2vh;
    margin: auto 1vw;
}

.module-gallery > * {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: lightgrey;
}

.module-gallery > .left:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    background-color: pink;
}

.module-gallery > .right:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    background-color: pink;
}

.module-gallery > .item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    background-color: pink;
}

.module-gallery > .item > img {
    height: 90%;
    width: auto;
}

.module-gallery > .item .disabled {
    visibility: hidden;
}