
/* ###### */
/* Footer */
/* ###### */


.footer {
    /* position: absolute; */
    width: 100%;
    height: auto;
    bottom:0;
    background-color: #273039;
    color: aliceblue;
    margin: 0;
    margin-top: 150px;
}

.footer-social-media {
    list-style-type: none;
    display:grid;
    height: 45px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.footer-social-media > a {
    text-decoration: none;
}

.fa {
    padding: 10px;
    font-size: 45px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    transition: background 1s;
}

.fa-facebook:hover {
    background: rgb(37, 25, 202);
}
  
/* Instagram */
.fa-instagram {
    background: rgb(118, 191, 247);
    color: white;
    transition: background-color 1s;
}

.fa-instagram:hover {
    background: rgb(3, 140, 245);
}

/* Youtube */
.fa-youtube {
    background: rgb(241, 85, 85);
    color: white;
    transition: background-color 1s;
}

.fa-youtube:hover {
    background: rgb(250, 0, 0);
}

.sqrt-logo {
    background: white;
    color: white;
    transition: background-color 1s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sqrt-logo > img {
    max-height: 75%;
    max-width: 75%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(15%,0);
}

.sqrt-logo:hover {
    background: lightslategray;
}

.two-columns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.column {
    width: 45%;
    height:inherit;
    /* background-color: yellow; */
    padding: 10px;
}

.column.left {
    margin: 0 auto 0 0;
}

.column.right {
    margin: 0 0 0 auto;
}


.container {
    /* padding: 2% 2% 2% 2%; */
    /* margin: auto 20px; */
    /* width: 90%; */
    width: 95%;
    margin: 0 auto;
    /* overflow-y: auto;
    overflow-x: hidden; */
}