/* ############################### */
/* ############################### */
/* ############################### */
/* ############################### */
/* ############################### */

* {
    box-sizing: border-box;
}

html {
    font-size: 120%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    padding: 0;
    margin: 5px 0;
    text-align: center;
}

h4 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    opacity: 0.6;
    font-style: italic;
}

h5 {
    padding: 0;
    margin: 0;
}

p {
    font-size: 1rem;
}

ol, ul, li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol {
    display: grid;
    grid-gap:5px;
    grid-auto-rows: auto;
}

ul {
    padding: 0;
}

aside {
    height: 100%;
    width: 100%;
    padding: 5px 20px;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

aside > h5 {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

aside > h5 > i {
    max-height: 100%;
    padding: 0 10px;
}

aside > h5 > i > img {
    max-height: 2rem;
    width:auto;
    height:auto;
}


#course {
    margin: 25px 0;
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
        "title title title title title"
        "picture picture picture picture time"
        "picture picture picture picture difficulty"
        "picture picture picture picture author"
        "description description description partner partner"
        "description description description partner partner"
        "description description description partner partner"
        /* "time author difficulty partner partner" */
        "modules modules modules modules modules";
    grid-template-columns: repeat(5,1fr);
}

#course > * {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    position: relative;
    padding: 10px;
}

img {
    max-width: 100%;
}

article, section {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

article {
    display: grid;
    grid-template-rows: 1rem auto;
    grid-template-columns: 1fr;
    align-items: flex-start;
}

article > p, section > p, article > a, section > a {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

article > p, section > p {
    padding: 0 20px;
    justify-content: center;
}

p > a {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

article > a, section > a {
    display: flex;
    justify-content: center;
    align-items: center;   
}


#title {
    grid-area: title;
    box-shadow: none;
    background-color: inherit;
    color: white;
}

/* #title > h1 {
    font-size: 400%;
} */

#picture {
    grid-area: picture;
    box-shadow: none;
    background: inherit;
    padding: 0;
}

#picture > img {
    height: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

#time {
    grid-area: time;
}

#difficulty {
    grid-area: difficulty;
}

#difficulty img {
    max-height: 50px;
}

#desc {
    grid-area: description;
}

#author {
    grid-area: author;
}

#partner {
    grid-area: partner;
}

#time p, #author p {
    font-size:1.3rem;
    text-align: center;
}

/* #time > h4, #difficulty > h4, #author > h4, #partner > h4 {
    position: absolute;
    top: 5px;
    left: 10px;
} */

/* #time > a, #difficulty > a, #author > a, #partner > a {
    max-height: 80%;
    max-width: 80%;
} */

#modules {
    padding: 0;
    grid-area: modules;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-auto-rows: auto;
    box-shadow: none;
    background-color: inherit;
    grid-gap: 25px;
}

#modules > article {
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    display: grid;
    padding: 25px;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title title"
        ". icons"
        "content content";
}

#modules > article > aside {
    grid-area: meta;
}

#modules > article > h2 {
    grid-area: title;
}

article > ul.icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding: 5px 0;
    padding: 10px;
    /* box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.2); */
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
    /* background-color: rgba(0, 0, 0, 0.05); */
}

ul.icons > li {
    width: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

li > img {
    opacity: 0.7;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s, opacity 0.5s;
    /* margin: 0 10px; */
}

li > img:hover {
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

li > img.selected {
    opacity: 1;
}

article > .submodules {
    grid-area: content;
}



article.submodule {
    display: none;
    grid-template-areas:
        "image title"
        "image text";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px,auto) auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}

article > ul {
    overflow: hidden;
    overflow-x: scroll;
}


article.submodule:nth-child(1) {
    display:grid;
}

article.submodule > img {
    grid-area: image;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

article.submodule > h3 {
    grid-area: title;
    text-align: left;
}

article.submodule > p {
    grid-area: text;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 700px){

    #picture {
        margin: 0;
        padding: 0;
    }

    #picture img {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    article.submodule {
        grid-template-areas:
            "image"
            "title"
            "text";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap:25px;
    }

    /* article.submodule > img {
        max-width: 80%;
    } */

    #modules > article {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "meta"
            "icons"
            "content";
        grid-gap: 10px;
    }

    #course {
        grid-template-areas:
            "title title"
            "picture picture"
            "description description"
            "time difficulty"
            "author partner"
            "modules modules";
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
    }

    #course > article > a {
        padding: 10px 20px;
    }

    #course > article > p {
        padding: 10px;
    }
}


@media only screen and (max-width: 400px){

    #modules > article {
        
        max-width: inherit;
    }

    article.submodule {
        grid-gap: 10px;
    }
}

@media only screen and (min-width: 1500px){
    html {
        font-size: 200%;
    }
}