/* New Styling */

.project {
    border: 2px solid black;
    padding: 20px;
    height: 200vh;
    display: grid;
    grid-template-rows: 5fr 2fr 3fr 2fr;
    background-color: white;
}

.project-info {
    /* grid-area: info; */
    /* background-color: blue;  */
    display: grid;
    grid-template-rows:1fr 5fr;
}

.project > div {
    padding: 5px;
}

.title-row {
    /* background-color: grey; */
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 5px;
}

.title-row > .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 300%;
}
.title-row > .time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 300%;
}

.title-row > .time > img {
    max-width:60%;
    max-height:60%;
    width: auto;
    height: auto;
    padding-right:20px;
}

.title-row > .difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 100%;
}

.title-row > .difficulty > img {
    max-width:60%;
    max-height:60%;
    width: auto;
    height: auto;
}

.gallery-row {
    /* background-color:pink; */
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-bottom: 2px solid black;
    padding: 10px 0;
}

.gallery {
    /* background-color:white; */
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery > img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.text-info {
    /* background-color:lightskyblue; */
    display:grid;
    grid-auto-rows: 1fr;
}

.text-info > div {
    padding: 10px;
}

.components {
    /* grid-area: components; */
    /* background-color: yellow;  */
    border-bottom: 2px solid black;
    /* overflow: auto; */
}

.instructionals {
    /* grid-area: instructionals; */
    /* background-color: red;  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
    padding: 10px;
}

.instructionals > div {
    padding: 0 10px;
    /* overflow: auto; */
}

.instructionals > div:nth-child(even) {
    /* background-color: turquoise; */
    border-left: 2px solid black;
}

/* .instructions, .resources {
    overflow: auto;
} */

.subtitled {
    display: grid;
    grid-template-rows: 25px 1fr;
    overflow: auto;
    /* padding: 10px 0; */
}

.subtitled > .subtitle {
    grid-row: span 1;
    opacity: 0.6;
    font-style: italic;
}

.subtitled > .content {
    grid-row-end: -1;
    padding: 0 10px;
}

.list {
    display: grid;
    grid-auto-rows: 50px;
    overflow-y: scroll;
    padding: 15px 0;
    grid-gap: 10px;
}

.list-item {
    grid-row: span 1;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); */
    /* border-radius: 10px; */
    border-top: 1px solid black;
    padding: 15px 0;
}

.list-item:nth-child(1){
    border:none;
}

.icon {
    max-height: 15px;
    max-width: 15px;
    height:auto;
    width:auto;
}