.section-styling {
    opacity: 1;
    width: 100%;
    height: auto;
    /* margin: 50px 0; */
    padding: 50px 0;
}

.section-styling > section {
    padding: 50px 0;
    /* margin-bottom: 100px; */
    /* padding: 20px 0; */
    border-top: 2px solid rgba(255, 255, 255, 0.6);
}

.section-styling > section:first-child {
    padding-top: 0;
    border: none;
}

.section-styling > section:last-child {
    padding-bottom: 0;
}


section > header {
    color: rgba(255, 255, 255, 1);
    font-size:300%;
    min-height: 100px;
    width: 100%;
    opacity: 1;
}

section > article {
    width:100%;
    padding: 20px 0;
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
}

.course-title {
    margin: 50px 0;
    width: 100%;
    font-size:450%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
}