/* new subnav */

.subnav {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; */
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin-bottom: 20px;
}

.previous {
    grid-column: 1 / 2;
}

.user {
    grid-column: -2 / -1;
}