<div class="lesson-main">
    <div class="lesson-options">
        <div class="lesson-option">
            View Lesson
        </div>
        <div class="lesson-option">
            View Quiz
        </div>
    </div>
</div>