<div class="question">
    <div class="question-text">
        <%= question.questionText %>
    </div>
    <div class="question-answer" name="<%= question.id %>">
        <% 
            for (let option of question.answerOptions) {
        %>
            <div class="option" value="<%= option %>">
                <%= option %>
            </div>
        <%
            }
        %>
        </div>
</div>