<div class="quiz-intro">
    <h1>Quiz!</h1>
</div>
<%
    const data = {
        "title":"Quiz Time!",
        "questions": [
            {
                "text":"Jaká je standardní tryska pro tiskárnu Original Prusa i3 MK3?",
                "lessonID":1,
                "moduleID":1,
                "options":[
                    {
                        "correct":false,
                        "text":"0.6 mm"
                    },
                    {
                        "correct":false,
                        "text":"0.25 mm"
                    },
                    {
                        "correct":false,
                        "text":"0.5 mm"
                    },
                    {
                        "correct":true,
                        "text":"0.4 mm"
                    }
                    
                ]
            },
            {
                "text":"V jakém formátu je 3D model, který upravuješ ve Slic3ru?",
                "lessonID":1,
                "moduleID":2,
                "options":[
                    {
                        "correct":false,
                        "text":".3ds"
                    },
                    {
                        "correct":false,
                        "text":".fbx"
                    },
                    {
                        "correct":true,
                        "text":".obj"
                    },
                    {
                        "correct":true,
                        "text":".stl"
                    }
                    
                ]
            },
            {
                "text":"Která tlačítka stiskneš, aby se ti zobrazil náhled výtisku?",
                "lessonID":1,
                "moduleID":3,
                "options":[
                    {
                        "correct":false,
                        "text":"Vrstvy a Náhled"
                    },
                    {
                        "correct":false,
                        "text":"Exportovat STL a Náhled"
                    },
                    {
                        "correct":false,
                        "text":"Exportovat G-kód a Náhled"
                    },
                    {
                        "correct":true,
                        "text":"Slicovat a Náhled"
                    }
                    
                ]
            },
            {
                "text":"Dokáže Slic3r upravovat rozměry modelu v jednotlivých osách X, Y a Z?",
                "lessonID":1,
                "moduleID":3,
                "options":[
                    {
                        "correct":false,
                        "text":"Ne, rozměry modelu lze upravovat pouze rovnoměrně."
                    },
                    {
                        "correct":false,
                        "text":"Slic3r nedokáže upravovat rozměry modelu."
                    },
                    {
                        "correct":false,
                        "text":"Ne, pouze v ose Z."
                    },
                    {
                        "correct":true,
                        "text":"Ano, model lze upravovat v rovnoměrně i v jednotlivých osách."
                    }
                    
                ]
            },
            {
                "text":"Kdy se ti ve Slic3ru zobrazí informace o tisku?",
                "lessonID":1,
                "moduleID":3,
                "options":[
                    {
                        "correct":false,
                        "text":"Informace o tisku se ve Sliceru nezobrazují"
                    },
                    {
                        "correct":false,
                        "text":"Po kliknutí pravým tlačítkem myši na model"
                    },
                    {
                        "correct":false,
                        "text":"Po stisknutí Slicovat"
                    },
                    {
                        "correct":true,
                        "text":"Po exportu G-kódu"
                    }
                    
                ]
            },
            {
                "text":"V jakém formátu se exportuje soubor pro tisk? Co nesmí název souboru obsahovat?",
                "lessonID":1,
                "moduleID":3,
                "options":[
                    {
                        "correct":false,
                        "text":".stl, mezery"
                    },
                    {
                        "correct":false,
                        "text":".stl, diakritiku"
                    },
                    {
                        "correct":false,
                        "text":".gcode, mezery"
                    },
                    {
                        "correct":true,
                        "text":".gcode, diakritiku"
                    }
                    
                ]
            },
            {
                "text":"Jakých teplot dosahuje tryska tiskárny Original Prusa i3 MK3?",
                "lessonID":1,
                "moduleID":4,
                "options":[
                    {
                        "correct":true,
                        "text":"Až 300 °C"
                    },
                    {
                        "correct":false,
                        "text":"Až 200 °C"
                    },
                    {
                        "correct":false,
                        "text":"Až 220 °C"
                    },
                    {
                        "correct":false,
                        "text":"Až 400 °C"
                    }
                    
                ]
            },
            {
                "text":"Co je třeba udělat před zavedením filamentu do extruderu?",
                "lessonID":1,
                "moduleID":5,
                "options":[
                    {
                        "correct":false,
                        "text":"Kalibrovat první vrstvu"
                    },
                    {
                        "correct":false,
                        "text":"Očistit trysku"
                    },
                    {
                        "correct":true,
                        "text":"Zastřihnout filament"
                    },
                    {
                        "correct":true,
                        "text":"Spustit předehřev"
                    },
                    
                ]
            },
            {
                "text":"Jakou kalibraci vyžaduje sestavená tiskárna, která byla přepravována?",
                "lessonID":1,
                "moduleID":5,
                "options":[
                    {
                        "correct":false,
                        "text":"Kalibrace první vrstvy"
                    },
                    {
                        "correct":false,
                        "text":"Kalibrace XYZ"
                    },
                    {
                        "correct":false,
                        "text":"PID kalibrace"
                    },
                    {
                        "correct":true,
                        "text":"Kalibrace v ose Z"
                    },
                    
                ]
            },
            {
                "text":"Čím se zvýší přilnavost povrchu pružného tiskového plátu?",
                "lessonID":1,
                "moduleID":6,
                "options":[
                    {
                        "correct":true,
                        "text":"Nanesením lepidla na tiskový plát."
                    },
                    {
                        "correct":true,
                        "text":"Očištěním plátu ubrouskem s alkoholem."
                    },
                    {
                        "correct":true,
                        "text":"Umytím plátu prostředkem na nádobí."
                    },
                    {
                        "correct":true,
                        "text":"Udržováním čistoty povrchu, zejména od mastnot."
                    },
                    
                ]
            },
            {
                "text":"Jak vyladíš první vrstvu výtisku?",
                "lessonID":1,
                "moduleID":7,
                "options":[
                    {
                        "correct":true,
                        "text":"V průběhu tisku první vrstvu upravím funkcí Doladění osy Z."
                    },
                    {
                        "correct":true,
                        "text":"Kalibrací první vrstvy podle Příručky 3D tiskaře."
                    },
                    {
                        "correct":false,
                        "text":"První vrstva se vyladí automaticky."
                    },
                    {
                        "correct":false,
                        "text":"Úpravou rychlostí tisku a teplot."
                    },
                    
                ]
            },
            {
                "text":"Po dokončení tisku:",
                "lessonID":1,
                "moduleID":8,
                "options":[
                    {
                        "correct":true,
                        "text":"Odeberu výtisk po zchladnutí trysky a tiskového plátu."
                    },
                    {
                        "correct":true,
                        "text":"Spálím se o trysku."
                    },
                    {
                        "correct":true,
                        "text":"Vyjmu filament."
                    },
                    {
                        "correct":true,
                        "text":"Provedu kalibraci."
                    },
                    
                ]
            },
            {
                "text":"What is the correct answer?",
                "lessonID":1,
                "moduleID":3,
                "answer":{
                    "text":"This is the correct answer."
                }
            }
        ]
    }

%>


<%
    for (let question of data.questions){
%>
        <%
            if (question.options){
        %>
                <%- include("./partials/question.multi.ejs",{question}) %>
        <%
            } else {
        %>
                <%- include("./partials/question.text.ejs",{question}) %>
        <%
            }
        %>
<%
    }
%>

<%- include("./partials/submit.button.ejs") %>