<div class="course">
    <section>
        <div class="heading">
            Lekce k kurzu:
        </div>
        <div class="blocks">
            <%
                for (let lesson of course.lessons){
            %>
            <%
                let minutes = lesson.modules.reduce((acc,ele) => {
                    return acc + ele.minutes
                },0)
            %>
            <%- include("./../partials/block.ejs",{
                blockContent:{
                    title: lesson.title,
                    leftContent: lesson.modules.length,
                    leftLabel: (lesson.modules.length == 1) ? "Module" : "Modul",
                    rightContent: minutes,
                    rightLabel: (minutes == 1) ? "Minuta" : "Minut",
                    link:`/lesson?id=${lesson.id}`
                }
            }) %>
            <%
                }
            %>
        </div>
    </section>
    <section>
        <div class="heading">
            Příslušný projekty:
        </div>
        <div class="blocks">
            <%
                for (let project of course.projects){
            %>

            <%- include("./../partials/block.ejs",{
                blockContent:{
                    title: project.title,
                    leftContent: project.steps.length,
                    leftLabel: (project.steps.length == 1) ? "Krok" : "Kroků",
                    rightContent: project.time,
                    rightLabel:(project.time == 1) ? "Hodina" : "Hodin",
                    link:`/project?id=${project.id}`
                }
            }) %>
            <%
                }
            %>
        </div>
    </section>

</div>